.btn
  height 50px
  border: 0
  outline none
  text-decoration none
  text-transform uppercase
  color $gray-a0
  font-size: 12px
  letter-spacing 1.9px
  flex-shrink: 0
  line-height 50px
  font-family $fontLight
  cursor pointer
  transition: $middle
  
  &__middle
    padding 0 20px
  
  &__large
    padding 0 40px

  &__transparent
    border 1px solid $gray-a0
    background transparent

    &:hover
      border 1px solid $white
      color $white