/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$s_arrow_bottom_name = 's-arrow-bottom';
$s_arrow_bottom_x = 0px;
$s_arrow_bottom_y = 170px;
$s_arrow_bottom_offset_x = 0px;
$s_arrow_bottom_offset_y = -170px;
$s_arrow_bottom_width = 12px;
$s_arrow_bottom_height = 32px;
$s_arrow_bottom_total_width = 562px;
$s_arrow_bottom_total_height = 202px;
$s_arrow_bottom_image = 'sprite.png';
$s_arrow_bottom = 0px 170px 0px -170px 12px 32px 562px 202px 'sprite.png' 's-arrow-bottom';
$s_arrow_left_name = 's-arrow-left';
$s_arrow_left_x = 110px;
$s_arrow_left_y = 118px;
$s_arrow_left_offset_x = -110px;
$s_arrow_left_offset_y = -118px;
$s_arrow_left_width = 32px;
$s_arrow_left_height = 12px;
$s_arrow_left_total_width = 562px;
$s_arrow_left_total_height = 202px;
$s_arrow_left_image = 'sprite.png';
$s_arrow_left = 110px 118px -110px -118px 32px 12px 562px 202px 'sprite.png' 's-arrow-left';
$s_arrow_right_name = 's-arrow-right';
$s_arrow_right_x = 142px;
$s_arrow_right_y = 118px;
$s_arrow_right_offset_x = -142px;
$s_arrow_right_offset_y = -118px;
$s_arrow_right_width = 32px;
$s_arrow_right_height = 12px;
$s_arrow_right_total_width = 562px;
$s_arrow_right_total_height = 202px;
$s_arrow_right_image = 'sprite.png';
$s_arrow_right = 142px 118px -142px -118px 32px 12px 562px 202px 'sprite.png' 's-arrow-right';
$s_arrow_up_name = 's-arrow-up';
$s_arrow_up_x = 12px;
$s_arrow_up_y = 170px;
$s_arrow_up_offset_x = -12px;
$s_arrow_up_offset_y = -170px;
$s_arrow_up_width = 12px;
$s_arrow_up_height = 32px;
$s_arrow_up_total_width = 562px;
$s_arrow_up_total_height = 202px;
$s_arrow_up_image = 'sprite.png';
$s_arrow_up = 12px 170px -12px -170px 12px 32px 562px 202px 'sprite.png' 's-arrow-up';
$s_facebook_name = 's-facebook';
$s_facebook_x = 139px;
$s_facebook_y = 136px;
$s_facebook_offset_x = -139px;
$s_facebook_offset_y = -136px;
$s_facebook_width = 9px;
$s_facebook_height = 18px;
$s_facebook_total_width = 562px;
$s_facebook_total_height = 202px;
$s_facebook_image = 'sprite.png';
$s_facebook = 139px 136px -139px -136px 9px 18px 562px 202px 'sprite.png' 's-facebook';
$s_instagram_name = 's-instagram';
$s_instagram_x = 105px;
$s_instagram_y = 136px;
$s_instagram_offset_x = -105px;
$s_instagram_offset_y = -136px;
$s_instagram_width = 19px;
$s_instagram_height = 19px;
$s_instagram_total_width = 562px;
$s_instagram_total_height = 202px;
$s_instagram_image = 'sprite.png';
$s_instagram = 105px 136px -105px -136px 19px 19px 562px 202px 'sprite.png' 's-instagram';
$s_logo_name = 's-logo';
$s_logo_x = 0px;
$s_logo_y = 0px;
$s_logo_offset_x = 0px;
$s_logo_offset_y = 0px;
$s_logo_width = 562px;
$s_logo_height = 118px;
$s_logo_total_width = 562px;
$s_logo_total_height = 202px;
$s_logo_image = 'sprite.png';
$s_logo = 0px 0px 0px 0px 562px 118px 562px 202px 'sprite.png' 's-logo';
$s_pinterest_name = 's-pinterest';
$s_pinterest_x = 124px;
$s_pinterest_y = 136px;
$s_pinterest_offset_x = -124px;
$s_pinterest_offset_y = -136px;
$s_pinterest_width = 15px;
$s_pinterest_height = 19px;
$s_pinterest_total_width = 562px;
$s_pinterest_total_height = 202px;
$s_pinterest_image = 'sprite.png';
$s_pinterest = 124px 136px -124px -136px 15px 19px 562px 202px 'sprite.png' 's-pinterest';
$s_siart_name = 's-siart';
$s_siart_x = 0px;
$s_siart_y = 118px;
$s_siart_offset_x = 0px;
$s_siart_offset_y = -118px;
$s_siart_width = 78px;
$s_siart_height = 52px;
$s_siart_total_width = 562px;
$s_siart_total_height = 202px;
$s_siart_image = 'sprite.png';
$s_siart = 0px 118px 0px -118px 78px 52px 562px 202px 'sprite.png' 's-siart';
$s_vk_name = 's-vk';
$s_vk_x = 78px;
$s_vk_y = 118px;
$s_vk_offset_x = -78px;
$s_vk_offset_y = -118px;
$s_vk_width = 32px;
$s_vk_height = 18px;
$s_vk_total_width = 562px;
$s_vk_total_height = 202px;
$s_vk_image = 'sprite.png';
$s_vk = 78px 118px -78px -118px 32px 18px 562px 202px 'sprite.png' 's-vk';
$s_youtube_name = 's-youtube';
$s_youtube_x = 78px;
$s_youtube_y = 136px;
$s_youtube_offset_x = -78px;
$s_youtube_offset_y = -136px;
$s_youtube_width = 27px;
$s_youtube_height = 19px;
$s_youtube_total_width = 562px;
$s_youtube_total_height = 202px;
$s_youtube_image = 'sprite.png';
$s_youtube = 78px 136px -78px -136px 27px 19px 562px 202px 'sprite.png' 's-youtube';
$spritesheet_width = 562px;
$spritesheet_height = 202px;
$spritesheet_image = 'sprite.png';
$spritesheet_sprites = $s_arrow_bottom $s_arrow_left $s_arrow_right $s_arrow_up $s_facebook $s_instagram $s_logo $s_pinterest $s_siart $s_vk $s_youtube;
$spritesheet = 562px 202px 'sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
