// Core
@import "../../node_modules/normalize.css/normalize.css"
@import "core/variables.styl"
@import "core/mixins.styl"
@import "core/fonts.styl"

// Globals
@import "common/global.styl"

// Commons modules
@import "common/base.styl"
@import "common/common.styl"

// Modules
@import "blocks/header.styl"
@import "blocks/footer.styl"

// Blocks
@import "blocks/smart-filter.styl"
@import "blocks/catalog--list.styl"
@import "blocks/paggination.styl"

// Elements
@import "elements/buttons.styl"
@import "elements/breadcrumbs.styl"
@import "elements/card--about.styl"