footer.footer
  .footer__top
    a(href="javascript:void(0)").footer--logo
      img(src="./dist/img/core/logo__footer.png", alt="logo").footer--logo--img
    .footer--address
      p.footer--inline Саввинская набережная, 23
      p.footer--inline 
        a(href="tel: +74957892803") +7 (495) 789-28-03
      p.footer--inline 
        a(href="mailto: info@archwood.ru") info@archwood.ru
    .footer--time
      p.footer--time__heading.footer--inline.__uppercase Время работы
      p.footer--inline пн-пт 10:00 - 20:00
      p.footer--inline сб-вс 11:00 - 19:00
    .footer--social
      a(href="javascript:void(0)").footer--social__item.footer--social__facebook
      a(href="javascript:void(0)").footer--social__item.footer--social__vk
      a(href="javascript:void(0)").footer--social__item.footer--social__instagram
      a(href="javascript:void(0)").footer--social__item.footer--social__pinterest
      a(href="javascript:void(0)").footer--social__item.footer--social__youtube
    button.btn.btn__transparent.btn__large Оставить заявку

  .footer__bottom
    .footer--copy © 2018 Arch Wood. Паркет и керамогранит. Все права защищены.
    a(href="javascript:void(0)").footer--politic Политика конфиденциальности
    a(href="javascript:void(0)").footer--developer
      img(src="./dist/img/core/siart.png", alt="developer").footer--developer--img
      p 
        | Разработка
        br
        | сайта