block header
  header.header
    .header--nav
      nav.header--directions
        each direction in directions
          if (direction.active)
              a(href= direction.link).header--nav--item.header--directions--item.header--nav--item__active
                = direction.name
          else
            a(href= direction.link).header--nav--item.header--directions--item
              = direction.name
      nav.header--nav__pages
        each item in menu
          a(href= item.link class="header--nav--item " + item.class)
            = item.name
      a(href="tel:+74955555555").header--phone +7 (495) 
        span.__black 555-55-55
      button.btn.btn__transparent.btn__middle Обратный звонок
    .header--banner
      img(src="./dist/img/core/banner.jpg", alt="banner").header--banner--img
      .header--banner--logo
      .header--banner--content
        hr
        a(href="javascript:void(0)").header--banner--link Паркет
        .circle
        a(href="javascript:void(0)").header--banner--link Керамика
        hr
      