@import '../core/variables.styl';

.header
  width 100%
  background $black
  height $heightHeader
  
  &--nav
    width 100%
    height 90px
    max-width 1760px
    margin 0 auto
    display flex
    align-items center

    &--item
      color $gray-8c
      font-family $fontBold
      font-size 12px
      text-transform uppercase
      letter-spacing 2.4px
      transition: $fast
      padding 5px 0

      &:hover,
      &__active
        color $white

    &__pages
      width 547px
      display flex
      justify-content space-between
      align-items center
      flex-shrink: 0
      margin-left 322px
      margin-right 206px

  &--directions
    display flex
    justify-content space-between
    width 284px
    flex-shrink: 0

    &--item
      letter-spacing 2.35px
      padding-left 15px
        
      &::before
        content: ""
        display block
        width 5px
        height 5px
        background $gray-8c
        position relative
        left -15px
        top 11px
        border-radius: 50%
        transition: $fast

      &:hover,
      &__active

        &::before
          background $white

  &--phone
    color $white
    margin-right 87px
    font-size: 14px
    flex-shrink: 0

  &--banner
    width 100%
    height 380px
    position relative
    display flex
    flex-direction: column
    justify-content center
    align-items center
    
    &--img
      width 100%
      height 100%
      max-height 380px
      left 0
      top 0
      position absolute
      object-fit: cover
      object-position: center
      z-index 0

    &--logo
      sprite($s_logo)
      position relative
      z-index 1
      transform: translateY(-13px)

    &--content
      display flex
      justify-content space-between
      align-items center
      width 607px
      z-index 1
      transform: translateY(25px)

    &--link
      color $white
      font-family $fontBold
      font-size 17px
      line-height 38.32px
      text-transform uppercase
      letter-spacing 2.9px

    hr
      width 141px
      height 1px
      background $white
      border: 0
      