@font-face {
    font-family: 'Museo';
    src: 
        local('../fonts/Museo/Museo-500'), 
        url('../fonts/Museo/Museo-500.woff') format('woff'), 
        url('../fonts/Museo/Museo-500.otf') format('otf'), 
        url('../fonts/Museo/Museo-500.eot') format('eot'), 
        url('../fonts/Museo/Museo-500.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Museo-Light';
    src: 
        local('../fonts/Museo/Museo-300'), 
        url('../fonts/Museo/Museo-300.woff') format('woff'), 
        url('../fonts/Museo/Museo-300.otf') format('otf'), 
        url('../fonts/Museo/Museo-300.eot') format('eot'), 
        url('../fonts/Museo/Museo-300.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Museo-Bold';
    src: 
        local('../fonts/Museo/Museo-700'), 
        url('../fonts/Museo/Museo-700.woff') format('woff'), 
        url('../fonts/Museo/Museo-700.otf') format('otf'), 
        url('../fonts/Museo/Museo-700.eot') format('eot'), 
        url('../fonts/Museo/Museo-700.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Museo-Black';
    src: 
        local('../fonts/Museo/Museo-900'), 
        url('../fonts/Museo/Museo-900.woff') format('woff'), 
        url('../fonts/Museo/Museo-900.otf') format('otf'), 
        url('../fonts/Museo/Museo-900.eot') format('eot'), 
        url('../fonts/Museo/Museo-900.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}