// Paths
$pathToImg = "../img/"
$pathToDevImg = "../../src/img/"
$pathToFonts = "../../src/fonts/"

// Fonts
$reserveFonts = sans-serif;
$fontLight = "Museo-Light", $reserveFonts
$fontMain = "Museo", $reserveFonts
$fontBold = "Museo-Bold", $reserveFonts
$fontBlack = "Museo-Black", $reserveFonts

// Colors
$white = #ffffff
$black = #000000
$gray-8c = #8c8c8c
$red = #ec2127
$gray-9e = #a19f9e
$gray-9f = #a1a09f
$gray-71 = #707171
$gray-a0a0 = #a1a0a0
$gray-a0 = #a1a1a0
$gray-d8 = #d8d8d8


// Sizes
$widthContent = 1380px
$heightHeader = 90px
$heightFooter = 302px
$gridHeight = "calc( 100vh - %s - %s )" % ($heightHeader $heightFooter)

// Animation
$fast = .3s ease-in-out all
$middle = .5s ease-in-out all
$slow = 1s ease-in-out all