@import "../core/variables.styl";

*
  box-sizing border-box
  -webkit-tap-highlight-color transparent

body
  font 16px/1.5 $fontMain
  overflow-x: hidden

a,
button,
input
  &:focus
    outline 0

h1
  color $black
  font-family $fontBold
  font-size 48px
  font-weight 400
  text-transform uppercase
  margin 16px 0 45px
  letter-spacing: 1.7px

a
  text-decoration none

p
  margin 0
  font-size: 18px
  line-height: 30px
  color $gray-8c

button
  border: 0

img
  width 100%
  height auto

.grid
  min-height: $gridHeight