.__underline
  border-bottom 1px solid 

.__bold
  font-family $fontBold

.__black
  font-family $fontBlack

.__uppercase
  text-transform uppercase

.circle
  width 5px
  height 5px
  background $white
  border-radius: 50%
  margin 0 17px